---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagefind from "@components/PageFind.astro";
import { SITE } from "@consts";


type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/katex.min.css">
    <Head title={`${title} | ${SITE.TITLE}`} description={description} />
  </head>
  <body>
    <noscript>
      <style>
        .animate{
          opacity:1;
          translate: var(--tw-translate-x) calc(var(--spacing) * 0);
        }
      </style>
    </noscript>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <Pagefind />
    <script is:inline>
  // This fix triggers every time you navigate between pages
  document.addEventListener("astro:after-swap", () => {
    const videos = document.querySelectorAll("video");
    videos.forEach((video) => {
      // Force Firefox to notice the video and load it
      video.load();
    });
  });
</script>
  </body>
</html>
